@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.content i{
    font-size: 20px;
}
.bar{
    background-color: #151515;
    color: aliceblue;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw 2vh;
    border-radius: 13px;
    overflow: hidden;
}
.bar h1{
    text-align: center;
    margin: 8px auto 15px auto;
}
.bar div{
    display: flex;
    flex-direction: column;
}
.bar a{
    color: #FFFBDA;
    text-decoration: none;
    width: 100%;
    padding: 12px 30px;
}
.bar i{
    box-sizing: content-box;
    font-size: 25px;
    margin-right: 25px;
    text-align: center;
    width: 20px;
    height: 20px;
}
.bar button{
    padding: 10px;
    color: #FFFBDA;
    background-color: #0E46A3;
    text-decoration: none;
    border: none;
    margin: 0 auto;
    width: 100%;
}
.bar a:hover{
    transition-duration: 1s;
    color: #FFFBDA;
    text-decoration: none;
    color: #0E46A3;
    background-color: #FFFBDA;
}
.bar a:active{
    color: #FFFBDA;
    text-decoration: none;
    color: #0E46A3;
    background-color: #FFFBDA;
}
.content{
    background-color: #FFFBDA;
    width: 100%;
    margin: 2vw 2vh;
    border-radius: 13px;
    overflow: scroll;
}
.content .one{
    background-color: #1565eb;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: sticky;
}
.content .one h2{
    color: #FFFBDA;
    padding: 10px 10px;
}
.content .one nav{
    height: 50px;
}
.content .one span{
    flex: 2;
    text-align: center;
}
.content .one a{
    color: #FFFBDA;
    text-decoration: none;
    padding: 17px 15px;
    display: inline-block;
    height: 100%;
}
.content .one a:hover{
    background-color: #FFFBDA;
    color: #1565eb;
    text-decoration: none;
    text-align: center;
}
.content .two{
    background-color: #a5c4f7;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content .two button{
    background-color: #1565eb;
    color: #FFFBDA;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 4px 8px;
    margin: 5px 3px;
    font-size: 0.9rem;
}
.content input{
    flex-grow: 5;
    margin: 5px 3px;
    
}
.content .two #options {
    display: none;
    position: fixed;
    list-style: none;
    background-color: #FFFBDA;
    border-radius: 10px;
    border: 1px solid rgb(167, 167, 167);
}
.content .two #options li{
    margin: 0 5px;
    padding: 2px ;
    display: inline;
    display: flex;
}
.content .data{
    padding: 20px 4%;
}
.content .data table{
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
.content .data table th , td{
    text-align: left;
    padding: 10px;
}
.content .data table th{
    background-color: #0E46A3;
    color: #f1f1f1;
}
.content .data table tr:nth-child(odd){
    background-color: #c9dcfa;
}
.content .data table tr:hover {
    background-color: #0E46A3;
    color: #f1f1f1;
}
.content .data table tr td img{
    height: 50px;
}

#addNew{
    width: 80%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    display: none;

}

.addNew label , input[type=text]{
    display: block;
}
.addNew .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
}
.addNew i{
    font-size: 25px;
}
.addNew .main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addNew .main div{
    flex-grow: 4;
}
.addNew .main div > label{
    display: block;
}
.addNew .main div > label ~ label{
    display: inline;
}


/* Style the tab */
#London{
    display: block;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 150px;
  }



 