<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/sales.css" %}">
    <title>Sales</title>
</head>
<body>
    <div class="bar" id="bar">
        <h1 id='logo'>MERP</h1>
        <a href="/inventory">Inventory</a>
        <a href="/sales">Sales</a>
        <a href="/production">Producation</a>
        <a href="/finance">Finance</a>
        <a href="/hr">HR</a>
        <button onclick="min()">Hide</button>
        <a href="">Setting</a>
    </div>
    <div class="content">
        <div class="one">
            <h2>Title</h2>
            <ul>
                <li><a href="/customers">APPS</a></li>
                <li><a href="">APPS</a></li>
                <li><a href="">APPS</a></li>
                <li><a href="">APPS</a></li>
                
            </ul>
            <h3>Profile</h3>
        </div>
        <div class="two">
            <button onclick="addNew()">New</button>
            <button>Import</button>
            <button onclick="exportTableToCSV('data', 'export.csv')">Export</button>
            <button onclick="exportPDF()">Download PDF</button>
            <input type="search" name="" id="">
            <div>
                <button>Filter</button>
                <ul>
                    <li>option 1</li>
                    <li>option 2</li>
                    <li>option 3</li>
                </ul>
            </div>
        </div>
    <h1>Sales Page</h1>
    <button>+ New</button>
    <input type="search" name="" id="">
    <button>Import</button>
    <button>Export</button>
    <h3>order table</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Number</th>
            <th>bla</th>
        </tr>
        {% for  order in orders %}
        <tr>
            <td>{{order.order_id}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

    <h3>customers table</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Number</th>
            <th>bla</th>
        </tr>
        {% for  customer in customers %}
        <tr>
            <td>{{customer.customer_id}}</td>
            <td>
                {{customer.location_id}}
                {% if  customer.location_id != None%}
                {% for location in locations %}
                    {% if location.location_id == customer.location_id %}
                        {{location.address1}}
                    {% endif %}
                {% endfor %}
                {% else %}
                    /
                {% endif %}
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>


    <h3>location table</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Number</th>
            <th>bla</th>
        </tr>
        {% for  location in locations %}
        <tr>
            <td>{{location.location_id}}</td>
            <td>{{location.address1}}</td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        {% endfor %}
    </table>
    <div class="addCustomer">
        
        <form method='GET' action="newCustomer">
            {% csrf_token %}
            <h1>ADD CUSTOMER</h1>
            <label for="FullName">Full Name</label>
            <input type="text" id='FullName' name='FullName'>
            <label for="Address1">Address 1</label>
            <input type="text" id='Address1' name='Address1'>
            <label for="Address2">Address 2</label>
            <input type="text" id='Address2' name='Address2'>
            <label for="City">City</label>
            <input type="text" id='City' name='City'>
            <label for="Country">Country</label>
            <input type="text" id='Country' name='Country'>
            <label for="State">State</label>
            <input type="text" id='State' name='State'>
            <input type="submit" value="ADD">
        </form>
    </div>
    <div>
        <h1>add order</h1>
        <form action="newOrder">
            <select name="Customers" id="Customers">
                {% for customer in customers %}
                    <option value="{{customer.full_name}}">{{customer.full_name}}</option>
                {% endfor %}
            
            </select>
            <label for="">Barcode</label>
            <input type="text">
            <input type="number" name="" id="">
        </form>
    </div>
</body>
</html>